$red: #FF0000;
$lighter-red: #F31414;

#wrapper {
	position: relative;
	display: block;

	width: 1200px;
	margin: 0 auto;
}

#header {
	position: relative;
	display: block;
	
	width: 1200px;

	h1 {
		font-family: 'Kaushan Script', cursive;
		font-size: 44px;

		margin: 30px 0px;
	}

	ul {
		list-style-type: none;
		margin: 0px;

		position: absolute;
		right: 0px;
		top: 30px;

		li {
			display: block;
			float: left;

			margin: 0px 5px;
			cursor: pointer;

			a {
				color: #fff;
				text-decoration: none;
				
				padding: 5px 10px;				
				font-size: 19px;

				background-color: $red;
				border-radius: 6px;

				&:hover {
					color: #E5E5E5;
					background-color: $lighter-red;
				}
			}
		}
	}
}

#main {
	position: relative;
	display: block;

	float: left;
	width: 800px;

	table {
		width: 100%;
		margin-bottom: 60px;

		th {
			background-color: #a8a8a8;
			padding: 5px 20px;
		}

		td {
			background-color: #fff;
			padding: 5px 10px;
			text-align: center;

			&.alternative {
				background-color: #d3d3d3;
			}

			a {
				color: $red;
				text-decoration: none;
				font-weight: bold;

				&:hover {
					color: #ff4c4c;
				}
			}
		}
	}
}

#side {
	@extend #main;
	width: 400px;
}