<div id="main">
    <!-- Employee -->
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
        </tr>

        <tr>
            <td>{{employee.Name}}</td>
            <td>{{employee.Position}}</td>
        </tr>
    </table>

    <!-- Supervisors -->
    <table ng-if="employee.Supervisor.length != 0">
        <tr>
            <th>Supervisor's Name</th>
            <th>Supervisor's Position</th>
            <th>Remove Supervisor</th>
        </tr>
        <tr ng-repeat="supervisor in employee.Supervisor">
            <td>{{supervisor.Name}}</td>
            <td>{{supervisor.Position}}</td>
            <td><a ng-href="#/employee/removed/management/{{supervisor.Name}}/{{employee.Name}}" ng-click="RemoveManagement(supervisor.ID, employee.ID)">Remove</a></td>
        </tr>
    </table>

    <!-- Subordinates -->
    <table ng-if="employee.Subordinates.length != 0">
        <tr>
            <th>Subordinate's Name</th>
            <th>Subordinate's Position</th>
            <th>Remove Subordinate</th>
        </tr>
        <tr ng-repeat="subordinate in employee.Subordinates">
            <td>{{subordinate.Name}}</td>
            <td>{{subordinate.Position}}</td>
            <td><a ng-href="#/employee/removed/management/{{employee.Name}}/{{subordinate.Name}}" ng-click="RemoveManagement(employee.ID, subordinate.ID)">Remove</a></td>
        </tr>
    </table>

    <!-- Partners -->
    <table>
        <tr>
            <th>Partner's Name</th>
            <th>Partner's Phone</th>
            <th>Partner's Email</th>
            <th>Remove Partner</th>
        </tr>
        <tr ng-repeat="partner in employee.Partners">
            <td class="innerPadding">{{partner.Name}}</td>
            <td class="innerPadding">{{partner.Phone}}</td>
            <td class="innerPadding">{{partner.Email}}</td>
            <td class="innerPadding"><a ng-href="#/employees/remove/partnership/{{partner.ID}}">Remove</a></td>
        </tr>
    </table>
</div>

<div id="side">

</div>