<div id="main">
    <h2>All Partners</h2>

    <table class="singlePartner">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        <tr ng-repeat="partner in partners" ng-class-even="alternative">
            <td>{{partner.Name}}</td>
            <td>{{partner.Email}}</td>
            <td>{{partner.Phone}}</td>
            <td><a ng-href="#/partner/view/{{partner.ID}}">View</a></td>
            <td><a ng-href="#/partner/update/{{partner.ID}}">Update</a></td>
            <td><a ng-href="#/partner/remove/{{partner.Name}}" ng-click="RemovePartner(partner.ID)">Delete</a></td>
        </tr>
    </table>

</div>

<div id="side">
    <a href="#" class="button">Create Partner</a>
</div>